[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
user         = mysql
pid-file     = /var/run/mysqld/mysqld.pid
socket       = /var/run/mysqld/mysqld.sock
port         = 3306
bind-address = 0.0.0.0

basedir     = /usr
datadir     = /var/lib/mysql
tmpdir      = /tmp
language    = /usr/share/mysql/english

skip-external-locking
sql_mode=NO_ENGINE_SUBSTITUTION
skip_name_resolve
memlock=0
event_scheduler=1

!includedir /etc/mysql/conf.d/
