[mysqld]
binlog_format=ROW
log_bin=mysql-bin
wsrep_cluster_address='gcomm://pxc1,pxc3'
wsrep_node_incoming_address='172.23.77.12'
wsrep_sst_receive_address='172.23.77.12'

wsrep_provider=/usr/lib/libgalera_smm.so
datadir=/var/lib/mysql

wsrep_slave_threads=2
wsrep_cluster_name=pxctest
wsrep_notify_cmd=
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:ficken100"

wsrep_node_name="pxc2"
wsrep_node_address="pxc2"

log_slave_updates

innodb_autoinc_lock_mode=2
innodb_buffer_pool_size=128M
innodb_log_file_size=64M
innodb_flush_log_at_trx_commit=2
innodb_file_per_table=1
innodb_read_io_threads=4
innodb_write_io_threads=4

[sst]
streamfmt=xbstream


